<h1>Welcome to /n/<%= @sub.title %></h1>


<ul>
  <% @posts.all.each do |post| %>
    <li>
      <%= link_to(post.title, post_url(post)) %>
    </li>
  <% end %>
</ul>

<form action="<%= new_post_url %>" method="get">
  <button>Create a new post</button>
</form>

<% if current_user.id == @sub.moderator_id %>
  <form action="<%= edit_sub_url %>" method="get">
    <button>Edit Sub</button>
  </form>
<% end %>

<form action="<%= subs_url %>" method="get">
  <button>Back to all subs</button>
</form>
