<!DOCTYPE html>
<html>
<head>
  <title>Neddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Logged in as: <%= current_user.username %>
  <%= button_to "log out", session_url, method: :delete %>
<% else %>
  <%= link_to "sign up", new_user_url %> or
  <%= link_to "sign in", new_session_url %>
<% end %>

<%= flash[:errors] %>

<%= yield %>

</body>
</html>
